* { box-sizing: border-box }

	body { background: rgba(44, 66, 81, 1); }
	
.main, html {
  height: 100%;
  margin: 0;
}


.bg {
  /* The image used */
  background: url(hack.jpg) repeat 0 0;

  /* Full height */
  height: 0%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-head {
	color: white;
	font-family: serif;
	font:"Times New Roman";
}

.active, .btn:hover {
	background-color: #666;
	color: white;
}


		.btn_1 {
			position: relative;
			display: inline-block;
			background: transparent;
			border: 2px; padding: 10px 20px;
			transition: all .35s ease-in-out;
			text-align: center;
			font-weight: bold;
			color: #ECB172;
			text-transform: uppercase;
		}

		.wrapper {
			max-width: 280px;
			text-align: center;
			position: relative;
			margin: auto;
		}

		.btn_1:before,
		.btn_1:after {
			content: '';
			display: block;
			position: absolute;
			border-style: solid;
			width: 16px; height: 16px;
			transition: all .35s ease-in-out;
		}

		.btn_1:before {
			top: -7px; left: -7px;
			border-width: 2px 0 0 2px;
			z-index: 9;
		}

		.btn_1:after {
			bottom: -7px; right: -7px;
			border-width: 0 2px 2px 0;
		}

		.btn_1:hover:before, .btn_1:hover:after {
			width: calc(100% + 10px);
			height: calc(100% + 12px);
			border-color: #FFF;
		}

		.btn_1:hover {
			color: white;
			background-color: #FFF;
			border-color: #FFF;
		}

		.btn_1:before, .btn_1:after {
			border-color: red;
		}

		.btn_1:hover:before, .btn_1:hover:after {
			border-color: #FAD06A;
		}

		.btn_1:hover {
			color: ;
			background-color: grey;
			border-color: #FAD06A;
		}

		/* NAV BAR */

		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover {
		  background-color: #111;
		}

		.hero-image {
		  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hack.jpg");
		  height: 50%;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
		}

		.hero-text {
		  text-align: center;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  color: white;
		}

		.hero-text button {
		  border: none;
		  outline: 0;
		  display: inline-block;
		  padding: 10px 25px;
		  color: black;
		  background-color: #ddd;
		  text-align: center;
		  cursor: pointer;
		}

		.hero-text button:hover {
		  background-color: #555;
		  color: white;
		}